<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.backend.diary.entity.DiaryEntity" alias="diary"/>
        <typeAlias type="com.backend.diary.entity.UserEntity" alias="user"/>
        <typeAlias type="com.backend.diary.entity.Emotions" alias="emotions"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.backend.diary.config.EmotionsTypeHandler"/>
    </typeHandlers>
</configuration>
